<div class="flex flex-col gap-4 m-3">
  <div class="flex items-center justify-center">
    <h2>Available Drinks</h2>
  </div>
  <div class="grid grid-cols-3 gap-2">
    @for(item of drinks; track $index) {
      <div class="flex flex-col border border-1 rounded-lg items-center p-2">
        <h3>Name : {{item.name}}</h3>
        <p>Price: {{item.price}}</p>
        <p>Quantity: {{item.quantity}}</p>
        <p>Item position: {{item.id}}</p>
        <button (click)="purchase(item.id)" class="border border-1 rounded-lg m-2 mt-6 p-2 w-full bg-blue-200">Purchase</button>
      </div>
    }
  </div>
</div>